AugmentedData/
dataForAugmentation/
datasets/
models_yolo/
models_yolo4Corner/
models_yolo4CornerRotate/
runs/
static/
test/
testImg/
train/
train_CCCDOCR/
valid_CCCDOCR/
valid/
weights/
yolo_data4Corner/
Label.txt
test.py
train.log
yolo11n.pt
yolov8n.pt
